<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="nav">
      <div class="row">
        <div class="large-6 large-text-left columns">
          <% link_to '/' do %>
            <%= image_tag "logo.png", width: '125' %>
          <% end %>
        </div>
        <div class="large-6 columns large-text-right">
          <ul>
            <li><%= link_to 'Employers', '/employers' %>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <section class="footer">
      <div class="row">
        <div class="large-6 columns">
          Copyright &copy; Risalto Health, Inc. 
          <%= Time.now.strftime("%Y") %>
          All rights reserved.
        </div>
      </div>
    </section>
  </body>
</html>
